<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mentorsship-form</title>
    <link rel="stylesheet" href="/css/styling.css"> 
    <script src="/js/javascript.js"></script>
</head>
<body>

   
    <h2><%= action %> Mentorship</h2>
<form action="<%= mentorship._id ? '/instructor/mentorships/' + mentorship._id : '/instructor/mentorships' %>" method="POST">
  <input type="text" name="title" placeholder="Title" value="<%= mentorship.title || '' %>" required><br>
  <input type="text" name="major" placeholder="Major" value="<%= mentorship.major || '' %>" required><br>
  <input type="text" name="subMajor" placeholder="Sub-Major" value="<%= mentorship.subMajor || '' %>" required><br>
  <input type="text" name="date" placeholder="Date" value="<%= mentorship.date || '' %>" required><br>
  <input type="text" name="time" placeholder="Time" value="<%= mentorship.time || '' %>" required><br>
  <input type="text" name="status" placeholder="Status" value="<%= mentorship.status || '' %>" required><br>
  <button type="submit"><%= action %></button>
</form>

</body>
</html>